@tailwind base;
@tailwind components;
@tailwind utilities;

/* swiper js  */
.swiper-button-next:after, .swiper-button-prev:after {
    font-size: 20px !important;
    padding: 12px 15px;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 50%;
    text-align: center;
    filter: drop-shadow(4px 2px 11px rgba(0,0,0,0,0.5));
}
