.box {
  background: url("https://i.ibb.co/V312TWX/b8f46419-eca3-44c1-8ba0-ed2ca89f8884.jpg")
    no-repeat center;
  background-size: cover;
}
.box2 {
  background: url("https://i.ibb.co/rZ763bB/e6cc1a30-2dec-4dc5-b0f2-c5b656909d5b.jpg")
    no-repeat center;
  background-size: cover;
}
.box3 {
  background: url("https://i.ibb.co/qxXDZ0n/7869fd17-9599-4a5e-9b03-4748a3dae016.jpg")
    no-repeat center;
  background-size: cover;
}

.logo {
  display: inline-block;
  position: relative;
}

.logo::before {
  content: "‹";
  position: absolute;
  color: rgb(151, 19, 204);
  transform: rotate(90deg);
  left: 7px;
  top: -15px;
  font-size: 40px;
}
